#itemsTable tbody tr.summary {
	cursor: pointer;
}
#itemsTable tbody tr.details {
	display: none;
}
#itemsTable tbody tr.new {
	background: #fff
}
#itemsTable tbody tr.old {
	background: #ddd
}
#toggle-items {
	display: none;
}
a.white {
	color: #fff;
}
h1{
	font-size: 220%;
	margin-bottom: 20px;
}