{% extends layout %}{% block title %} Page not found ! {% endblock %} 
{% block content %}
	<h1> Page not found ! </h1>
	<div class="alert alert-info">
		<p> Oooops ! We were not able to find the page; Sorry for this. </p>
    </div>
{% endblock %}